= form_tag nil, @form_options do
  = image_tag @temp_image.present? ? '/' + @temp_image : @object.send(@field).url, @image_tag_options
  = hidden_field_tag :crop_x
  = hidden_field_tag :crop_y
  = hidden_field_tag :crop_w
  = hidden_field_tag :crop_h
  = hidden_field_tag :crop_field, @field
  = hidden_field_tag :temp_image, @temp_image
  = render :partial => 'rails_admin/main/submit_buttons'
